.card-container {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 3px #ccc;
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}